/* fixes the "too long calendar" issue */
.fc-time-grid-container {
    height: auto !important;
}

.fc-divider {
    display: none !important;
}

.read-notification {
    color: green;
}

.unread-notification {
    color: indianred;
}

.notification-msg {
    text-shadow: none;
}

.close {
    color: teal;
}

.mark-all {
    font-size: 2em;
    color: teal;
    margin-bottom: 20px;
}