{% extends 'admin/base_site.html' %}
{% load crispy_forms_tags %}
{# BEGIN: Fix the horrid '>' in breadcumbs in grappelli admin base #}
{% load i18n grp_tags %}
{% block breadcrumbs %}
    <ul>
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        {% if title %}
            <li> {{ title }}</li>
        {% endif %}
    </ul>
{% endblock %}
{# END: Fix the horrid '>' in breadcumbs in grappelli admin base #}
{% block extrastyle %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
{% endblock %}
{% block content %}
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <a href="/admin" class="btn btn-danger">Powrót</a>
        <input type="submit" value="Import" class="btn btn-primary"/>
    </form>
{% endblock %}