{% extends 'admin/base_site.html' %}
{# BEGIN: Fix the horrid '>' in breadcumbs in grappelli admin base #}
{% load i18n grp_tags %}
{% block breadcrumbs %}
    <ul>
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        {% if title %}
            <li> {{ title }}</li>
        {% endif %}
    </ul>
{% endblock %}
{# END: Fix the horrid '>' in breadcumbs in grappelli admin base #}
{% block extrahead %}
    <script>
        (function ($) {
            $(document).ready(function () {
                var task_id = '{{ task }}';

                function checkTask() {
                    $.ajax({
                        url: '/admin/import/check/' + task_id + '/',
                        method: 'get'
                    }).done(function (data) {
                        console.log(data);
                        if (!data['finished']) {
                            setTimeout(checkTask, 500);
                        } else {
                            if (!data['success']) {
                                $("#processing").html("Import failed!");
                                {#                                $("#processing").css("")#}
                            } else {
                                $("#processing").html("Import successful!");
                            }
                        }
                    });
                }

                setTimeout(checkTask, 500);
            });
        })(grp.jQuery);
    </script>
{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
{% endblock %}
{% block content %}
    <p>Upload successful.</p>
    <p id="processing" class="alert alert-info">
        Your file is being processed now. Please wait...
    </p>
{% endblock %}