{% extends 'admin/base_site.html' %}
{% load crispy_forms_tags %}
{# BEGIN: Fix the horrid '>' in breadcumbs in grappelli admin base #}
{% load i18n grp_tags %}
{% block breadcrumbs %}
    <ul>
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        {% if title %}
            <li> {{ title }}</li>
        {% endif %}
    </ul>
{% endblock %}
{# END: Fix the horrid '>' in breadcumbs in grappelli admin base #}
{% block extrastyle %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
{% endblock %}
{% block content %}
    <p class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"></i>
        No enrollment found with specified id!
    </p>
    <p>
        <a href="/admin/term_market/enrollment/" class="grp-button grp-delete-link">Return</a>
    </p>
{% endblock %}