{% extends 'admin/base_site.html' %}
{# BEGIN: Fix the horrid '>' in breadcumbs in grappelli admin base #}
{% load staticfiles %}
{% load i18n grp_tags %}
{% block breadcrumbs %}
    <ul>
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        {% if title %}
            <li> {{ title }}</li>
        {% endif %}
    </ul>
{% endblock %}
{# END: Fix the horrid '>' in breadcumbs in grappelli admin base #}
{% block extrahead %}
    <script src="{% static 'js/admin_background_task_check.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                $.checkTask({
                    url: '{% url "solver_check" task %}',
                    timeout: 500,
                    successContent: "<i class='fa fa-check-circle'></i> Solver run successfully!",
                    successClass: "alert alert-success",
                    failureContent: "<i class='fa fa-exclamation-triangle'></i> Solver run failed!",
                    failureClass: "alert alert-danger",
                    failureShowMsg: true,
                    successShowMsg: true,
                    linksContent: "<a href='{% url 'admin:term_market_enrollment_changelist' %}' class='grp-button grp-default'>" +
                    '<i class="fa fa-arrow-circle-left"></i> Return</a>',
                    processingSelector: "#processing",
                    linksSelector: "#actions"
                });
            });
        })(grp.jQuery);
    </script>
{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
{% endblock %}
{% block content %}
    <h2>Enrollment: {{ enrollment_name }}</h2>
    <p class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        Solver started successfully.
    </p>
    <p id="processing" class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        Solver is now running. Please wait...
        <i class="fa fa-spinner fa-spin"></i>
    </p>
    <p id="actions">
        Please wait for solver's completion...
        <i class="fa fa-spinner fa-spin"></i>
    </p>
{% endblock %}
