{% load js %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>TermMarket</title>
    <link id="css-skin" href="{% static 'css/cover.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>TermMarket</h1>
        <nav>
            <ul class="nav masthead-nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'schedule' %}">My schedule</a></li>
                <li><a href="#">Add offer</a></li>
                <li><a href="#">Edit my offers</a></li>
                <li><a href="{% url 'offers' %}">Browse offers</a></li>
{% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
{% endif %}
{% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
{% endif %}
                <li><a href="#"><span class="glyphicon glyphicon-certificate" onclick="changeCSS();"></span></a></li>
            </ul>
        </nav>
    </div>
{% block content %}{% endblock %}
</div>
    {% django_js jquery=False %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/change-mode.js' %}"></script>
</body>
</html>