{% extends 'term_market/base.html' %}
{% block content %}
    <div class="text-center">
        <h1>Confirm removal</h1>
        <form action="" method="post">{% csrf_token %}
            <p class="lead">Make sure that's what you meant!</p>
            <p>Do you want to remove offer of <strong>{{ object.offered_term }}</strong>?</p>
            <input type="submit" value="Yeah, get rid of it!" class="btn btn-danger btn-lg">
            <a href="{% url 'my_offers' %}" class="btn btn-default btn-lg">Uhmm, nah.</a>
        </form>
    </div>
{% endblock %}