{% extends 'term_market/base.html' %}
{% block content %}
<div class="inner cover">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Donor</th>
            <th colspan="3">Offered</th>
            <th>Bait</th>
            <th colspan="3">Wanted</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% regroup object_list by offer as offers %}
        {% for offer in offers %}
            {% for e in offer.list %}
                <tr>
                {% if forloop.first %}
                    <td rowspan="{{ offer.list|length }}">{{ offer.grouper.donor }}</td>
                    <td rowspan="{{ offer.list|length }}">{{ offer.grouper.offered_term.subject }}</td>
                    <td rowspan="{{ offer.list|length }}">{{ offer.grouper.offered_term.teacher }}</td>
                    <td rowspan="{{ offer.list|length }}">{{ offer.grouper.offered_term.start_time|date:"D G:i" }} {{ offer.grouper.offered_term.week }}</td>
                    <td rowspan="{{ offer.list|length }}">{{ offer.grouper.bait }}</td>
                {% endif %}
                    <td>{{ e.term.subject }}</td>
                    <td>{{ e.term.teacher }}</td>
                    <td>{{ e.term.start_time|date:"D G:i" }} {{ e.term.week }}</td>
                    <td><input type="button"onka class="btn btn-success" value="Accept offer"></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

{% notifications_unread as unread_count %}
{% if unread_count %}
    You have <strong>{{ unread_count }}</strong> unread notifications.
{% else %}
    No new notifications.
{% endif %}

</div>
{% endblock %}