{% extends 'term_market/base.html' %}
{% block content %}
<div class="text-center">
    <h2>Available offers</h2>
    <span style="margin:0 10px 0 0;">
    <form class="form-inline" role="form" action="{% url 'watson:search' %}">
      <div class="form-group">
        <label for="email">Search for:</label>
        <input type="text" class="form-control"  name="q" value="{{request.GET.q}}">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </span>
</div>
{% if object_list %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Donor</th>
        <th>Subject</th>
        <th>Offered</th>
        <th>Bait</th>
        <th>Wanted</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% regroup object_list by offer as offers %}
    {% for offer in offers %}
        {% for e in offer.list %}
            <tr>
            {% if forloop.first %}
                <td rowspan="{{ offer.list|length }}">{{ offer.grouper.donor }}</td>
                <td rowspan="{{ offer.list|length }}">{{ offer.grouper.offered_term.subject }}</td>
                <td rowspan="{{ offer.list|length }}">{{ offer.grouper.offered_term.start_time|date:"D, G:i" }} {{ offer.grouper.offered_term.week }} &mdash; {{ offer.grouper.offered_term.teacher }}</td>
                <td rowspan="{{ offer.list|length }}">{{ offer.grouper.bait }}</td>
            {% endif %}
                <td>{{ e.term.start_time|date:"D, G:i" }} {{ e.term.week }} &mdash; {{ e.term.teacher }}</td>
                <td><a href="{% url 'term_offer_accept' e.pk %}" class="btn btn-success btn-sm">Accept offer</a></td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-center">There are no offers available for you&hellip; :-(</p>
{% endif %}
{% endblock %}