{% extends 'term_market/base.html' %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css">
{% endblock %}
{% block js_footer %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js"></script>
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        header: false,
        defaultView: 'agendaWeek',
        allDaySlot: false,
        minTime: '07:00:00',
        maxTime: '21:00:00',
        axisFormat: 'HH:mm',
        slotEventOverlap: false,
        views: {
            week: {
                columnFormat: 'ddd'
            }
        },
        weekends: false,
        defaultDate: "{{ calendar_start }}",
        events: {{ object_list }}
    })
})
</script>
{% endblock %}
{% block content %}
<div class="inner cover">
    <h2>Select term you want to trade</h2>
    <div id="calendar"></div>
</div>
{% endblock %}