{% extends 'term_market/base.html' %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.print.css">
{% endblock %}
{% block js_footer %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js"></script>
{% endblock %}
{% block content %}
<div class="inner cover">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Date</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
{% for term in object_list %}
        <tr>
            <td>{{ term.subject }}</td>
            <td>{{ term.teacher }}</td>
            <td>{{ term.start_time }} {{ term.week }}</td>
            <td>{{ term.room }}</td>
        </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}